.banner-wrapper{
    width: 560px;
    height: 320px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left-section {
    display: block;
    position: relative;
    left: 1px;
    background-color: #FFF8DC;
    box-sizing: border-box;
    width: 265px;
    height: 292px;
    border-style: solid;
    border-width: 2px;
    border-color: black;

}

.banner-right-section {
    display: block;
    position: relative;
    right: 1px;
    background-color:#000000;
    box-sizing: border-box;
    width: 265px;
    height: 292px;
    border-style: solid;
    border-width: 2px;
    border-color: black;

}

.image-logo{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.discount{
    position: relative;
    // font-family: 'Special Elite', cursive;
    // font-family: 'Frijole', cursive;
    font-family: 'Londrina Outline', cursive;
    // font-family: 'Bungee Shade', cursive;

    color: #FFF8DC;
    font-size:7em;
    text-align: center;
    top: 0.5em;
    line-height: 70%;
}

.slogan{
    display: block;
    position: relative;
    font-family: 'myFont';
    font-size: 28px;
    letter-spacing: 5px;
    color: #FFF8DC;
    text-align: center;
    top: 60px;
}