.banner-wrapper{
width: 531px;
height: 295px;
background-color: white;
}

.banner-left-section{
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border-style: solid;
    border-width: 2px 1px 2px 2px;
    border-color: black;
}

.banner-right-section{
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border-style: solid;
    border-width: 2px 2px 2px 1px;
    border-color: black;
}