/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: "myFont";
    src: url("./assets/fonts/wandery-free-regular.ttf");
  }